@import '@/styles/color.scss';
@import '@/styles/_responsive-styles.scss';

.header {
  background-color: $white_FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.375rem;
  padding-left: 2.5rem;
  padding-right: 5rem;
  color: $black_333236;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 0.0625rem solid $gray_D9D9D9;

  @include tablet {
    padding-right: 2.5rem;
  }

  @include mobile {
    font-size: 1.125rem;
    padding-left: 1.5rem;
    padding-right: 0.75rem;
    height: 3.75rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
}

.nickname {
  @include mobile {
    display: none;
  }
}
