@import '@/styles/_color.scss';

// delete task
.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .text {
    color: $black_333236;
    text-align: center;
    align-self: center;
    font-style: normal;
    line-height: normal;
    margin-bottom: 50px;
  }
  .buttons {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
