// invite
@import '@/styles/color.scss';
@import '@/styles/responsive-styles.scss';
.inviteBtn {
  border-radius: 8px;
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inviteBtn.white {
  width: 116px;
  height: 40px;
  background: var(--white-white_FFFFFF, #fff);
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  color: var(--gray-gray_787486, #787486);
  @include tablet {
    width: 109px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
  }
  @include mobile {
    width: 73px;
    height: 30px;
  }
}
.inviteBtn.violet {
  width: 105px;
  height: 32px;
  background: var(--violet-violet_5534DA, #5534da);
  color: white;
  font-size: 14px;
  gap: 6px;
  border-radius: 4px;
}

.inviteIcon {
  fill: #ffffff;
  @include mobile {
    display: none;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 33.75rem;
  height: 17.25rem;
  padding: 1.75rem;
  @include mobile {
    width: 20.4375rem;
    height: 15.0625rem;
    padding: 1.25rem;
  }
  .invite {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0;
    @include mobile {
      font-size: 1.25rem;
      margin: 1.5rem 0;
    }
  }
  .email {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
    @include mobile {
      font-size: 1rem;
    }
  }
  .emailInput {
    border-radius: 0.375rem;
    border: 0.0625rem solid var(--gray-gray_D9D9D9, #d9d9d9);
    background: var(--white-white_FFFFFF, #fff);
    width: 30.25rem;
    height: 3rem;
    margin-bottom: 1.75rem;
    padding: 0.9375rem 1rem;
    @include mobile {
      width: 17.9375rem;
      height: 2.625rem;
      margin-bottom: 1.5rem;
    }
  }
  .btnContainer {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    @include mobile {
      justify-content: center;
    }
  }
}
