// invite
@import '@/styles/color.scss';
@import '@/styles/responsive-styles.scss';

.inviteIcon {
  fill: #ffffff;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 276px;
  padding: 28px;
  @include mobile {
    width: 327px;
    height: 241px;
    padding: 20px;
  }
  .invite {
    font-size: 24px;
    font-weight: 700;
    margin: 2rem 0;
    @include mobile {
      font-size: 20px;
      margin: 24px 0;
    }
  }
  .email {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 10px;
    @include mobile {
      font-size: 16px;
    }
  }
  .emailInput {
    border-radius: 0.375rem;
    border: 0.0625rem solid var(--gray-gray_D9D9D9, #d9d9d9);
    background: var(--white-white_FFFFFF, #fff);
    width: 30.25rem;
    height: 3rem;
    margin-bottom: 1.75rem;
    padding: 15px 16px;
    @include mobile {
      width: 287px;
      height: 42px;
      margin-bottom: 1.5rem;
    }
  }
  .btnContainer {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    @include mobile {
      justify-content: center;
    }
  }
}
