@import '@/styles/color.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_responsive-styles.scss';

.previewContainer {
  display: block;
  position: relative;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 0.375rem;
  background: #f5f5f5;
  cursor: pointer;

  @include flex-center;

  @include mobile {
    width: 3.625rem;
    height: 3.625rem;
  }
}

.preview {
  object-fit: cover;

  @include mobile {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.fileInput {
  display: none;
}
