@import '@/styles/color.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_responsive-styles.scss';

.previewContainer {
  display: block;
  position: relative;
  width: 76px;
  height: 76px;
  border-radius: 6px;
  background: #f5f5f5;
  cursor: pointer;

  @include flex-center;

  @include mobile {
    width: 58px;
    height: 58px;
  }
}

.preview {
  object-fit: cover;

  @include mobile {
    width: 20px;
    height: 20px;
  }
}

.fileInput {
  display: none;
}
