@import '@/styles/color.scss';

// label
.label {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .input {
    width: 100%;
    padding: 0.9375rem 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid $gray_D9D9D9;
    background: $white_FFFFFF;
    font-size: 1rem;

    &:focus {
      border-color: $violet_5534DA;
    }

    &::placeholder {
      color: $gray_9FA6B2;
    }

    &.error {
      border-color: $red_D6173A;
    }
  }

  .errorMessage {
    color: $red_D6173A;
    font-size: 0.875rem;
  }
}
