@import '@/styles/color.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_responsive-styles.scss';

.container {
  @include flex-center;
  @include solid-line($gray_D9D9D9);
  border-radius: 0.5rem;
  width: 20rem;
  height: 3.875rem;
  padding: 1.25rem 5.9375rem;
  background-color: $gray_FAFAFA;
  color: $black_333236;
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;

  @include mobile {
    width: 17.75rem;
    height: 3.25rem;
    padding: 1rem 5.25;
    font-size: 1rem;
  }
}
