@import '@/styles/color.scss';
@import '@/styles/_responsive-styles.scss';
@import '@/styles/_mixins.scss';

.header {
  background-color: $white_FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.375rem;
  margin-left: 18.75rem;
  padding-left: 2.5rem;
  padding-right: 5rem;
  border-bottom: 0.0625rem solid $gray_D9D9D9;

  @include tablet {
    margin-left: 10rem;
    padding-right: 2.5rem;
  }

  @include mobile {
    margin-left: 4.1875rem;
    padding-left: 1.5rem;
    padding-right: 0.75rme;
    height: 3.75rem;
  }
}

.dashBoardTitle {
  color: $black_333236;
  font-size: 1.25rem;
  font-weight: 700;

  @include tablet {
    visibility: hidden;
    width: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include mobile {
    gap: 0.75rem;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-right: 0.5rem;

  @include tablet {
    gap: 0.75rem;
  }

  @include mobile {
    gap: 0.375rem;
    margin-right: 0.25rem;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid $gray_D9D9D9;
  padding: 0.625rem 1rem;
  font-weight: 500;
  height: 2.5rem;
  cursor: pointer;

  & img {
    @include mobile {
      display: none;
    }
  }

  @include tablet {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    height: 2.25rem;
  }

  @include mobile {
    height: 1.875rem;
    padding: 0.4375rem 0.75rem;
  }
}

.members {
  display: flex;
  align-items: center;
}

.member {
  position: relative;

  &.onlyVisibleOnPC {
    @include tablet {
      display: none;
    }
  }
}

.excess {
  background-color: #f4d7da;
  color: #d25b68;
  font-weight: 500;
  position: relative;
  border: 0.125rem solid $white_FFFFFF;
  border-radius: 50%;
  width: 2.375rem;
  height: 2.375rem;
  flex-shrink: 0;
  left: -1.75rem;

  @include flex-center;

  @include tablet {
    left: -0.875rem;
  }
}

.boundary {
  margin: 0;
  height: 2.375rem;
  border-color: $gray_FAFAFA;

  @include mobile {
    height: 2.125rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
}

.nickname {
  @include mobile {
    display: none;
  }
}
