.profile {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.125rem;
  height: 2.125rem;
  overflow: hidden;
}

.profileImg {
  width: 100%;
  height: 100%;
}
