@import '@/styles/_responsive-styles.scss';

.profile {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.125rem;
  height: 2.125rem;
  overflow: hidden;
  position: relative;
}

@include mobile {
  .profile {
    width: 26px;
    height: 26px;
  }
}
