@import '@/styles/_responsive-styles.scss';

.profile {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.125rem;
  height: 2.125rem;
  overflow: hidden;

  image {
    object-fit: 'contain';
  }
}

@include mobile {
  .profile {
    width: 1.625rem;
    height: 1.625rem;
  }
}
