@import '@/styles/color.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_responsive-styles.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $white_FFFFFF;
  padding: 2rem 0 0;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $black_333236;
    padding-left: 1.75rem;
  }

  .empty {
    @include flex-center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4.125rem 0 8rem;

    .emptyIcon {
      display: block;
      position: relative;
      width: 6.25rem;
      height: 6.25rem;
    }

    .emptyMessage {
      font-size: 1.125rem;
      font-weight: 400;
      color: $gray_9FA6B2;
    }

    @include tablet {
      padding: 4.1875rem 0 7.9375rem;
    }

    @include mobile {
      gap: 16px;
      padding: 6.5625rem 0 9.625rem;

      .emptyIcon {
        width: 3.75rem;
        height: 3.75rem;
      }

      .emptyMessage {
        font-size: 0.875rem;
      }
    }
  }

  @include mobile {
    gap: 0.5rem;
    padding: 1.5rem 0 0;

    .title {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      padding-left: 1rem;
    }
  }
}
