@import '@/styles/color.scss';
@import '@/styles/responsive-styles.scss';

.container {
  background-color: $gray_FAFAFA;
  display: flex;
  overflow-y: auto;
  height: 90vh;

  .columnBox {
    display: flex;
  }

  .btnBox {
    display: flex;
    padding: 4.25rem 1.25rem;
    width: 23.4375rem;
    flex-shrink: 0;
  }
}
