@import '@/styles/color.scss';
@import '@/styles/responsive-styles.scss';

.container {
  background-color: $gray_FAFAFA;
  display: flex;
  overflow-y: auto;
  height: calc(100vh - 4.375rem);

  .columnBox {
    display: flex;
  }

  .btnBox {
    display: flex;
    padding: 68px 20px;
    width: 375px;
    flex-shrink: 0;
  }
}

@include mobile {
  .container {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    .columnBox {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }

    .btnBox {
      width: 95%;
    }
  }
}

@include tablet {
  .container {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    .columnBox {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }

    .btnBox {
      width: 95%;
    }
  }
}
