@import '@/styles/_color.scss';
@import '@/styles/_responsive-styles.scss';
.container {
  .deadline {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
  }
  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    .calendarIcon {
      position: absolute;
      z-index: 2;
      left: 0.875rem;
    }
    .datePicker {
      width: 28.125rem;
      height: 3rem;
      border: 0.0625rem solid var(--gray-gray_D9D9D9, $gray_D9D9D9);
      background: var(--white-white_FFFFFF, $white_FFFFFF);
      border-radius: 0.375rem;
      padding: 0.875rem 2.875rem;
      &:focus {
        border-color: $violet_5534DA;
        outline: none;
      }

      @include mobile {
        width: 17.9375rem;
      }
    }
  }
}
