@import '@/styles/_color.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  .title {
    color: $black_333236;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .input {
    width: 100%;
  }

  .error {
    color: $red_D6173A;
    font-size: 14px;
    font-weight: 400;
  }
}
