@import '@/styles/_color.scss';
@import '@/styles/_responsive-styles.scss';
.container {
  width: 620px;
  height: 477px;
  border-radius: 8px;
  background: var(--white-white_FFFFFF, #fff);
  margin: 12px 0;
  padding: 33.5px 28px;
  @include tablet {
    width: 544px;
    padding: 30px 20px;
  }
  @include mobile {
    width: 284px;
    height: 395px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33.5px;
    .title {
      color: var(--black-black_333236, #333236);
      font-size: 24px;
      font-weight: 700;
      @include mobile {
        font-size: 18px;
      }
    }
    .pagination {
      display: flex;
      align-items: center;
      gap: 16px;
      @include mobile {
        gap: 12px;
      }
      .paginationNumber {
        font-size: 14px;
        font-weight: 400;
        @include mobile {
          font-size: 10px;
        }
      }
      @include mobile {
        .onPcSize {
          display: none;
        }
      }
    }
  }
  .subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      margin-bottom: 28px;
    }
    .email {
      color: var(--gray-gray_9FA6B2, #9fa6b2);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 33.5px;

      @include mobile {
        font-size: 14px;
        margin-bottom: 0;
        display: flex;
      }
    }
    .onMobileSize {
      display: none;
      @include mobile {
        display: flex;
      }
    }
  }

  .emailSection {
    margin-bottom: 25.5px;
    @include mobile {
      margin-bottom: 5.5px;
    }
    .emailList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25.5px;
      @include mobile {
        margin-bottom: 18.5px;
      }
      .inviteEmail {
        @include mobile {
          font-size: 14px;
        }
      }
    }
    .contour {
      border: none;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}
