.labelChip {
  &.columns {
    display: inline-flex;
    padding: 4px 8px;
    align-items: center;
    gap: 6px;
    border-radius: 11px;
    // columns 타입에 대한 스타일
    &.large {
      // large 사이즈에 대한 스타일
    }

    &.small {
      // small 사이즈에 대한 스타일
    }
  }

  &.tag {
    // tag 타입에 대한 스타일
    &.large {
      // large 사이즈에 대한 스타일
    }

    &.small {
      // small 사이즈에 대한 스타일
    }
  }

  .iconCircle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
