@import '@/styles/color.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  gap: 30px;

  .form {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .label {
      padding-bottom: 10px;
    }

    .input {
      margin-top: 8px;
      width: 100%;
      padding: 15px 16px;
      border: 1px solid $violet_5534DA;
      border-radius: 8px;
    }
  }

  .signupText {
    span {
      color: $violet_5534DA;
      text-decoration: underline;
      padding-left: 10px;
    }
  }
}

@media (max-width: 655px) {
  .container {
    width: 100vw;

    .form {
      width: 80%;
    }
  }
}
