@import '@/styles/color.scss';
@import '@/styles/_mixins.scss';
@import '@/styles/_responsive-styles.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  width: 100%;
  max-width: 63.875rem;
  padding: 2.5rem;
  padding-bottom: 7.3125rem;

  @include tablet {
    gap: 2.5rem;
    max-width: 100%;
  }

  @include mobile {
    gap: 1.5rem;
    max-width: 100%;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
  }
}
