@import '@/styles/color.scss';
@import '@/styles/responsive-styles.scss';

// common
.commentForm {
  display: flex;
  position: relative;

  .postForm {
    width: 100%;
    .textarea {
      width: 100%;
      display: flex;
      height: 110px;
      padding: 16px;
      align-items: flex-start;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid $gray_D9D9D9;
      background: $white_FFFFFF;

      &:focus {
        outline: none;
        border: 1px solid $violet_5534DA;
      }
    }
    .postComment {
      cursor: pointer;
      position: absolute;
      bottom: 0.75rem;
      right: 0.75rem;
      border-radius: 0.25rem;
      border: 0.0625rem solid $gray_D9D9D9;
      background: $white_FFFFFF;
      width: 5.25rem;
      height: 1.75rem;
      color: $violet_5534DA;
    }
  }
}

@include mobile {
  .commentForm {
    width: 100%;
    .postForm {
      .textarea {
        width: 100%;
      }
    }
  }
}
