@import '@/styles/color.scss';
@import '@/styles/responsive-styles.scss';

.commentForm {
  display: flex;
  position: relative;

  .postForm {
    width: 100%;
    .textarea {
      width: 100%;
      display: flex;
      height: 6.875rem;
      padding: 1rem;
      align-items: flex-start;
      flex-shrink: 0;
      border-radius: 0.375rem;
      border: 1px solid $gray_D9D9D9;
      background: $white_FFFFFF;
      resize: none;

      &:focus {
        outline: none;
        border: 1px solid $violet_5534DA;
      }
    }
    .postComment {
      cursor: pointer;
      position: absolute;
      bottom: 0.75rem;
      right: 0.75rem;
      border-radius: 0.25rem;
      border: 0.0625rem solid $gray_D9D9D9;
      background: $white_FFFFFF;
      width: 5.25rem;
      height: 1.75rem;
      color: $violet_5534DA;

      &:disabled {
        cursor: default;
        color: $gray_9FA6B2;
        border-color: $gray_9FA6B2;
      }
    }
  }
}

@include mobile {
  .commentForm {
    width: 100%;
    .postForm {
      .textarea {
        width: 100%;
        height: 4.375rem;
      }
    }
  }
}
