@import '@/styles/_color.scss';
@import '@/styles/_responsive-styles.scss';

// comments
.comments {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  .commentTitle {
    color: $black_333236;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.625rem;
  }

  .commentContainer {
    margin-top: 1.25rem;
    display: flex;
    gap: 0.625rem;
    width: 100%;
    flex-shrink: 0;

    .profile {
      min-width: 1.625rem;
      flex-shrink: 0;
    }

    .commentBox {
      display: flex;
      flex-direction: column;
      width: 100%;

      .commentHeader {
        display: flex;
        gap: 0.5rem;

        .nickname {
          color: $black_333236;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .createdAt {
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $gray_9FA6B2;
        }
      }

      .commentBody {
        display: flex;
        gap: 0.75rem;
        flex-direction: column;
        margin-top: 0.75rem;
        width: 100%;

        .editing {
          width: 100%;
        }

        .commentText {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $black_333236;
          white-space: normal;
          word-wrap: break-word;
          overflow-wrap: break-word;
          width: 25rem;
        }

        .btnBox {
          display: flex;
          gap: 0.75rem;

          .commentBtn {
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            color: $gray_9FA6B2;
          }
        }
      }
    }
  }

  .modalSubText {
    color: $black_333236;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .moreBtn {
    color: $gray_9FA6B2;
    text-decoration-line: underline;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    padding: 0.625rem;
  }
}

@include mobile {
  .comments {
    .commentContainer {
      width: 100%;
      .commentBox {
        width: 100%;
        .commentHeader {
          width: 100%;
        }
        .commentBody {
          .commentText {
            width: 100%;
          }
        }
      }
    }
  }
}
