@import '@/styles/_color.scss';
@import '@/styles/_responsive-styles.scss';

// task
.taskModal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 28px;
  max-height: 730px;

  .modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;

    h2 {
      color: $black_333236;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
  .modalContainer {
    display: flex;
    overflow: auto;
    gap: 16px;
    flex-direction: row;
    margin-top: 24px;
    justify-content: space-between;
    height: 450px;
    overflow-y: auto;

    .contentArea {
      .labels {
        display: flex;
        align-items: center;
        gap: 20px;
        .divide {
          display: block;
          width: 1px;
          height: 20px;
          stroke-width: 1px;
          background-color: $gray_D9D9D9;
        }
        .tags {
          display: flex;
          gap: 6px;
        }
      }
      .contents {
        margin-top: 24px;
        width: 440px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .imgBox {
        margin-top: 16px;
        display: flex;
        width: 450px;
        height: 262px;
        flex-shrink: 0;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
      }
      .comments {
        margin-top: 24px;
      }
    }
    .information {
      position: sticky;
      top: 0;
      width: 200px;
      height: 155px;
      border-radius: 8px;
      border: 1px solid $gray_D9D9D9;
      background: $white_FFFFFF;
      padding: 16px;

      ul {
        display: flex;
        gap: 20px;
        flex-direction: column;

        .infoBox {
          display: flex;
          gap: 8px;
          flex-direction: column;

          .assignee {
            display: flex;
            gap: 8px;
            align-items: center;

            .name {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              color: $black_333236;
            }
            .subtitle {
              margin-bottom: 6px;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 20px;
              color: $black_000000;
            }
          }

          .dueDate {
            color: $black_333236;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}

@include mobile {
  .taskModal {
    padding: 20px;
    width: 90vh;
    max-height: 90vh;
    max-width: 95vw;

    .modalHeader {
      margin-top: 0px;
      h2 {
        margin-top: 28px;
        font-size: 20px;
      }

      .buttons {
        margin-top: -20px;
        gap: 16px;
      }
    }

    .modalContainer {
      flex-direction: column-reverse;

      .information {
        position: static;
        display: flex;
        width: 100%;
        height: 64px;
        padding: 10px 16px;

        ul {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .infoBox {
            gap: 4px;

            .subtitle {
              font-size: 12px;
              font-weight: 600;
            }
            .assignee {
              .name {
                font-size: 12px;
              }
            }
            .dueDate {
              font-size: 12px;
              margin-top: 6px;
              margin-right: 32px;
            }
          }
        }
      }

      .contentArea {
        .labels {
          gap: 12px;
        }
        .contents {
          max-width: 600px;
          width: auto;
          margin-top: 16px;
          font-size: 12px;
          line-height: 22px;
        }

        .imgBox {
          height: 300px;
          width: auto;
          min-width: 300px;
        }
      }
    }
  }
}
