@import '@/styles/color.scss';
@import '@/styles/_responsive-styles.scss';

.header {
  background-color: $black_000000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.375rem;

  @include mobile {
    height: 3.75rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.625rem;
  padding-right: 2.5rem;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;

  @include mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(320deg) brightness(104%) contrast(100%);
}

.taskify {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(320deg) brightness(104%) contrast(100%);

  @include mobile {
    display: none;
  }
}

.auth {
  display: flex;
  gap: 2.25rem;
  color: $white_FFFFFF;

  @include mobile {
    gap: 1.25rem;
    font-size: 0.875rem;
  }
}
