@import '@/styles/color.scss';
@import '@/styles/_responsive-styles.scss';

.header {
  background-color: $black_000000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;

  @include mobile {
    height: 60px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 26px;
  padding-right: 40px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  @include mobile {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(320deg) brightness(104%) contrast(100%);
}

.taskify {
  filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(320deg) brightness(104%) contrast(100%);

  @include mobile {
    display: none;
  }
}

.auth {
  display: flex;
  gap: 36px;
  color: $white_FFFFFF;

  @include mobile {
    gap: 20px;
    font-size: 14px;
  }
}
